.anchor {
    position: fixed;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
    z-index: 9999;
}

body {
    position: relative;
}

.anchor_add_button {
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    bottom: 50px;
    border-radius: 50%;
    background: greenyellow;
    box-shadow: black 1px 1px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    z-index: 9999;
}

.note {
    width: 200px;
    height: 400px;
    padding: 10px;
    background: white;
    z-index: 9999;
    border-radius: 10px;
    position: fixed;
    display: none;
    top: 30%;
    right: 20px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: black;
}

.note_content {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    word-break: break-all;
}
.note_content::-webkit-scrollbar{
    display: none;
}

.button_box {
    display: flex;
    justify-content: space-between;
}

.edit_color {
    background: gold;
}

.delete_color {
    background: red;
}

.save_color {
    background: greenyellow;
}

.common_button {
    width: 35px;
    height: 6px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.common_button span {
    color: white;
    font-size: 6px;
}